# RWho agent configuration
# vim: ft=dosini

[agent]
# Server API endpoint
notify_url = https://rwho.nullroute.lt/server/
# Override system FQDN
#host_name = hades.arpa
#auth_username = [will use host_name if empty]
#auth_password = hunter2
#exclude_root = true
#exclude_users = smith|guest\d+
#include_users = jane
#min_uid = 1000
