# vim: ft=dosini

agent.notify_url = http://rwho.cluenet.org/server.php
;agent.exclude_root = true
;agent.exclude_users = smith|guest\d+

;db.pdo_driver = mysql:host=localhost;dbname=rwho
;db.username =
;db.password =

# if set, web interface will add a finger gateway link
;finger.host = localhost
;finger.ldap.uri = ldapi:///
;finger.ldap.dn = uid=%s,ou=people,dc=cluenet,dc=org
;finger.ldap.attr = planFile

;privacy.allow_addr =
; allow anonymous queries? (privacy.hide_* will apply)
;privacy.allow_anonymous = true
;privacy.hide_rhost = true

;web.stylesheet = /custom.css
