# RWho UI configuration
# vim: ft=dosini

# trust these IP masks with private information
;privacy.allow_addr =
# allow queries from untrusted addresses
;privacy.allow_anonymous = true
# hide remote-host from anonymous queries
;privacy.hide_rhost = true

[web]
# Additional stylesheet URL for the web UI
stylesheet = /custom.css
# If a Finger hostname is set, the web interface will automatically add links
# to the text-based version through the Finger Web Gateway.
finger.host = localhost
finger.gateway = https://nullroute.eu.org/finger/?q=%s

[finger.ldap]
# Parameters for LDAP planFile retrieval
uri = ldapi:///
user_dn = uid=%s,ou=People,o=Nullroute
plan_attr = planFile
