# RWho UI configuration
# vim: ft=dosini

[log]
# Spam the system log about authorization decisions on every call.
debug = true

[expire]
# Display entries as stale if the host hasn't refreshed them for a while
# (default: 11 minutes)
mark_stale = 11m
# Automatically delete stale entries (e.g. from crashed hosts) if they haven't
# been refreshed in this amount of time. (Default: 1d)
host_dead = 1d

[web]
# Additional stylesheet URL for the web UI
stylesheet = /custom.css
# If a Finger hostname is set, the web interface will automatically add links
# to the text-based version through the Finger Web Gateway.
finger.host = localhost
finger.gateway = https://nullroute.lt/finger/?q=%s

[finger]
plan_min_uid = 1000

[finger.ldap]
# LDAP server for plan file retrieval
uri = ldapi:///
# If base_dn is specified, it's used to search the directory.
base_dn = ou=People,o=Nullroute
filter = (&(objectClass=posixAccount)(uid=%s))
plan_attr = planFile

[privacy]
# Whether to completely block anonymous queries. (Default: false)
# The usefulness of this setting is questionable:
#  - Currently only the Finger UI implements this setting, denying access
#    to any source not listed in 'trusted_nets', but you can achieve the
#    same using firewall rules.
#  - The web UI only hides the rhost from anonymous queries, exactly as
#    if 'hide_rhost' were set. Use web server configuration to completely
#    deny anonymous access to web UI.
deny_anonymous = false

# Hide user hostnames from anonymous queries. (Default: false)
#  - Finger UI treats queries coming from 'trusted_nets' as authenticated.
#  - Web UI treats either queries from 'trusted_nets' or queries that have
#    a non-empty REMOTE_USER as authenticated.
anonymous_hide_rhost = true

# Queries from these IP addresses are considered "authenticated" (making
# private information visible). Comma-separated list of CIDR masks.
trusted_nets = 192.0.2.0/24, 2001:db8:42::/64
