table#rwho-sessions {
	border-collapse: collapse;
	width: 100%;
	margin: 1em 0;
}

#rwho-sessions thead,
#rwho-sessions tfoot {
	background: #f7f7f7;
}

#rwho-sessions tfoot {
	font-size: smaller;
}

#rwho-sessions td,
#rwho-sessions th {
	border-width: 1px 0;
	border-style: solid;
	border-color: #ddd;
	padding: 4px 3px;
	text-align: left;
	vertical-align: top;
}

#rwho-sessions th {
	text-transform: lowercase;
}

#rwho-sessions .stale td:not([rowspan]) {
	color: #aaa;
	font-style: italic;
}

#rwho-sessions a {
	color: blue;
	text-decoration: none;
}

#rwho-sessions .stale a {
	color: #77b;
}

.comment {
	font-style: italic;
}

.footer {
	color: gray;
	font-style: italic;
	font-size: smaller;
	text-align: right;
}

.plan {
	margin: 0.2em 0;
}

.plan-head {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0.7em;
}
